body{
	background-color: #1C242D;
}

.center-container{
	width: 80%;
	height: 1000px;
	margin: 0 auto;
	background-color: #1C242D;
}

.middle-container{
	background-color: #2E3740;
    box-shadow: 0px 1px 1px 1px #070707;
    padding: 8px;
}

.diagram{
	border: 1px solid black;
}

.generate-btn{
	margin-left: 10px;
	height: 30px;
	background-color: #1C242D;
	color: #FBB82C;
	border: none;
}

select{
	background-color: #1C242D;
	border: none;
	color: #FFFFE2;
	height: 30px;
	width: 100px;
}

h3{
	color: #FFFFE2;
}